.DS_Store
.env
.idea/
.installed
.vscode/
Icon?
Thumbs.db
b/
composer.lock
/instance-config.php
/main.js
megalinter-reports/
tmp/*
!tmp/.gitkeep
vendor/
/*.css
/*.html
/*.log
*.cache
/*/
!.github/
!docker/
!etc/
!inc/
!js/
!locales/
!static/
!stylesheets/
!templates/
!tmp/
!tools/
