{% extends 'base.html' %}

{% block title %}
	{{ settings.title }}
{% endblock %}

{% block head %}
	<style type="text/css">
		iframe{border:none;margin:0;padding:0;height:99%;position:absolute}
		iframe#sidebar{left:0;top:0;width:15%}
		iframe#main{border-left:1px solid black;left:15%;top:0;width:85%}
	</style>
{% endblock %}

{% block content %}
	<iframe src="{{ settings.file_sidebar }}" id="sidebar" name="sidebar"></iframe>
	<iframe src="{{ settings.file_news }}" id="main" name="main"></iframe>
{% endblock %}
