{% extends 'themes/layout.html' %}

{% block title %}
	{{ settings.title }}
{% endblock %}

{% block header %}
	<header>
		<img class="icon" src="{{ settings.icon }}">
		<h1>{{ settings.title }}</h1>
		<div class="subtitle">{{ settings.subtitle }}</div>
	</header>
{% endblock %}

{% block content %}
	<div class="wrapper">
		<div class="ban">
			{% if news|count == 0 %}
				<p style="text-align:center" class="unimportant">(No news to show.)</p>
			{% else %}
				{% for entry in news %}
					<h2 id="{{ entry.id }}">
						{% if entry.subject %}
							{{ entry.subject }}
						{% else %}
							<em>no subject</em>
						{% endif %}
						<span class="unimportant"> &mdash; by {{ entry.name }} at {{ entry.time|date(config.post_date) }}</span>
					</h2>
					<p>{{ entry.body }}</p>
				{% endfor %}
			{% endif %}
		</div>

		{% for category, boards in categories %}
			<fieldset>
				<legend>{{ category }}</legend>
				<ul>
					{% for board in boards %}
						<li>
							<a href="{{ board.uri }}">{{ board.title|e }}</a>
						</li>
					{% endfor %}
				</ul>
			</fieldset>
		{% endfor %}

		{% for category, links in config.custom_categories %}
			<fieldset>
				<legend>{{ category }}</legend>
				<ul>
					{% for title, uri in links %}
						<li>
							<a href="{{ uri }}">{{ title }}</a>
						</li>
					{% endfor %}
				</ul>
			</fieldset>
		{% endfor %}

		<div class="box-wrap">
			<div class="box left">
				<h2>Recent Images</h2>
				<ul>
					{% for post in recent_images %}
						<li>
							<a href="{{ post.link }}">
								<img src="{{ post.src }}" style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px" alt="">
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="box right">
				<h2>Latest Posts</h2>
				<ul>
					{% for post in recent_posts %}
						<li>
							<strong>{{ post.board_name }}</strong>: 
							<a href="{{ post.link }}">
								{{ post.snippet }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="box right">
				<h2>Stats</h2>
				<ul>
					<li>Total posts: {{ stats.total_posts }}</li>
					<li>Unique posters: {{ stats.unique_posters }}</li>
					<li>Active content: {{ stats.active_content|filesize }}</li>
				</ul>
			</div>
		</div>
		
		<hr/>
	</div>
{% endblock %}
