body {
    background: #050505;
    color: #0f0;
    font-family: monospace;
    font-size: 11px;
}

h1 {
    font-size: 20pt;
    text-align: center;
    letter-spacing: 0;
}

div.title,
h1 {
    color: #0f0;
    font-family: Arial, Helvetica, sans-serif;
}

div.title p {
    font-size: 13px;
}

a:link,
a:visited,
p.intro a.email span.name {
    color: #16c816;
    text-decoration: underline;
    font-family: monospace;
}

a:link:hover,
a:visited:hover {
    color: #003c00;
    font-family: monospace;
    text-decoration: underline overline;
}

a.post_no {
    color: #464646;
    text-decoration: none;
}

a.post_no:hover {
    color: maroon;
    text-decoration: underline overline;
}

div.post.reply {
    background: #0e0e0e;
    border: #414141 2px solid !important;
}

.de-pview {
    background: rgb(14 14 14 / 84%) !important;
}

div.post.reply.highlighted {
    background: transparent;
    border: #414141 2px solid;
}

div.post.reply div.body a:link,
div.post.reply div.body a:visited {
    color: #646464;
}

div.post.reply div.body a:link:hover,
div.post.reply div.body a:visited:hover {
    color: #0f0;
}

p.intro span.subject {
    font-size: 12px;
    font-family: monospace;
    color: #465;
    font-weight: 800;
}

p.intro span.name {
    color: #008200;
    font-weight: 900;
}

p.intro a.capcode,
p.intro a.nametag {
    color: magenta;
    margin-left: 0;
}

p.intro a.email,
p.intro a.email span.name,
p.intro a.email:hover,
p.intro a.email:hover span.name {
    color: #00cc64;
    font-family: monospace;
}

input[type="text"],
textarea,
select {
    background: #333;
    color: #ccc;
    border: #666 1px solid;
    padding-left: 5px;
    padding-right: -5px;
    font-family: monospace;
    font-size: 10pt;
}

input[type="password"] {
    background: #333;
    color: #8b8b8b;
    border: #666 1px solid;
}

form table tr th {
    background: #333;
    color: #828282;
    font-weight: 800;
    text-align: left;
    padding: 0;
}

div.banner {
    background: #0a0;
    color: #646464;
    text-align: center;
    width: 250px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

input[type="submit"] {
    background: #333;
    border: #888 1px solid;
    color: #a0a0a0;
}

input[type="submit"]:hover {
    background: #555;
    border: #888 1px solid;
    color: #0f0;
}

p.fileinfo a:hover {
    text-decoration: underline;
}

span.trip {
    color: #aaa;
}

div.pages {
    color: #aaa;
    background: #333;
    border: #666 1px solid;
    font-family: sans-serif;
    font-size: 10pt;
}

div.pages a.selected {
    color: #8c8c8c;
}

hr {
    height: 1px;
    border: #333 1px solid;
}

div.boardlist {
    color: #999;
}

div.ban {
    background-color: transparent;
    border: transparent 0 solid;
}

div.ban h2 {
    background: transparent;
    color: lime;
    font-size: 12px;
}

table.modlog tr th {
    background: #0f0;
    color: #aaa;
}
