body {
    background: #0e0e0e
        url("data:image/gif;base64,R0lGODlhGAAMAKEEAOXl5ebm5vDw8PHx8SH+EUNyZWF0ZWQgd2l0aCBHSU1QACwAAAAAGAAMAAACRpQiY6cLa146MyY1EJQKjG81lNGRUPOIkgMJHtquBgIO7xwvpbrpduUSuXq8ntEC0bBEylYitdDAdM1ViaobkgKgZwyDLAAAOw==")
        repeat 0 0 !important;
    color: #000;
}

a:link,
a:visited,
p.intro a.email span.name {
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    color: rgb(0 0 0 / 60%);
    text-decoration: none !important;
}

a:link:hover {
    -moz-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s;
    text-shadow: 0 0 2px #cf6464;
}

a.post_no {
    color: #fff;
}

.boardlist {
    color: #ccc;
}

div.post.reply,
input,
textarea {
    background: rgb(0 0 0 / 10%);
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 2px;
}

div.post.reply.post-hover {
    background: rgb(200 200 200 / 85%);
}

div.post.reply.highlighted {
    background: #f0c0b0;
    border-color: #d9bfb7;
}

div.post.reply p.body a {
    color: navy;
}

p.intro span.subject {
    color: #000;
}

form table tr th {
    background: #ea8;
}

div.ban h2 {
    background: #fca;
    color: inherit;
}

div.ban {
    border-color: #000;
}

div.ban p {
    color: black;
}

div.pages {
    background: #f0e0d6;
    border-color: #d9bfb7;
}

div.pages a.selected {
    color: #800;
}

hr {
    border-color: rgb(0 0 0 / 20%);
}

div.boardlist {
    color: rgb(0 0 0 / 20%);
}

div.boardlist a {
    color: #000;
}

table.modlog tr th {
    background: #ea8;
}
