/**
 * miku.css
 * For AwsumChan by Circlepuller
 */

body {
    background: #d2ffee url("img/fade-miku.png") top repeat-x;
}

a:link,
a:visited {
    text-decoration: none;
    color: #0093ab;
}

a:link:hover,
a:visited:hover {
    color: #d00;
}

a.post_no {
    color: #003;
}

p.intro a.email span.name {
    color: #0093ab;
}

p.intro a.email:hover span.name {
    color: #d00;
}

h2,
div.title,
h1 {
    color: #800000;
}

form table tr th {
    background: #95d2d3;
}

div.banner {
    background-color: #e04000;
}

div.post.op hr {
    border-color: #b7c9d5;
}

p.intro span.subject {
    color: #117743;
    font-weight: 800;
}

p.intro span.name {
    color: #117743;
    font-weight: 800;
}

div.post.reply.highlighted {
    background: #98e;
}

div.post.reply {
    background: #b6ddde;
    border-color: #8fcccd;
}

div.ban {
    border: 1px solid #0093ab;
}

div.ban h2 {
    background: #b6ddde;
    color: #0093ab;
}

div.pages {
    color: #89a;
    background: #b6ddde;
    border-right: 1px solid #8fcccd;
    border-bottom: 1px solid #8fcccd;
}

hr {
    border-color: #b7d9c5;
}

div.boardlist {
    color: #0093ab;
}
