/* piwnichan */

body {
    font-family: sans-serif;
    font-size: 12px;
    color: #47506f;
    background: #000006 url("img/rect820.png") fixed top right no-repeat;
}

.desktop-style .bl-menu {
    background-color: #030511;
}

.boardlist .board a {
    background-color: #030511;
}

span.quote {
    color: #296353;
}

div.pages a.selected {
    color: #fffcfc !important;
}

div.post.reply div.body a {
    color: #6f0a0a;
}

a:link,
a:visited,
div.post.reply p.body a {
    color: #355097;
    text-decoration: none;
}

a:link:hover,
a:visited:hover,
div.post.reply p.body a:hover {
    color: #5a8c99;
}

a.email span.name {
    color: #5a8c99 !important;
}

p.intro span.capcode,
p.intro a.capcode,
p.intro a.nametag {
    color: #6e0877;
}

div.post.reply.highlighted {
    background: #000e3a;
}

input,
textarea {
    background: url("img/rect821.png") no-repeat fixed right top #030511;
    color: #47506f;
}

hr {
    height: 3px;
    border-width: 0;
    background: url("img/img/hr_d_blue2.png") center no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.reflink a:hover {
    font-weight: bold;
}

.adminbar {
    text-align: right;
    clear: both;
    float: right;
}

h1 {
    clear: both;
    text-align: center;
    font-size: 2.5em;
    color: #47506f;
    width: 100%;
}

div.title {
    color: #af8c5d;
}

div.banner,
.replymode,
.catalogmode {
    text-align: center;
    margin: 5px 0;
    padding: 5px 2px;
    color: #47506f;
    font-weight: bold;
    width: 100%;
}

.postblock,
form table th {
    color: sandybrown;
    font-size: 11px;
    font-weight: bold;
    text-align: center !important;
}

.rules {
    width: 468px;
    font-size: 10px;
}

.rules li {
    margin-left: 1em;
}

.footer {
    text-align: center;
    font-size: 12px;
}

.passvalid {
    text-align: center;
    width: 100%;
    color: #fff;
}

.dellist {
    font-weight: bold;
    text-align: center;
}

.delbuttons {
    text-align: center;
    padding-bottom: 4px;
}

.managehead {
    background-color: #1e1e1e;
    color: #bebebe;
    padding: 0;
}

.postlists {
    background: #000;
    width: 100%;
    padding: 0;
    color: #bebebe;
}

.row1 {
    background-color: #1e1e1e;
    color: #bebebe;
}

.row2 {
    background: #1e1e1e;
    color: #bebebe;
}

.unkfunc {
    background: inherit;
    color: #789922;
}

.filesize {
    text-decoration: none;
}

.filetitle {
    background: inherit;
    font-size: 1.2em;
    color: #bebebe;
    font-weight: 800;
}

p.intro span.subject {
    color: #4d2c80;
    font-weight: bold;
}

span.name,
.postername {
    color: #06546d !important;
    font-weight: bold;
}

span.trip,
.postertrip {
    color: #b88146;
}

.oldpost {
    color: #cc1105;
    font-weight: 800;
}

span.omitted,
.omittedposts {
    color: #7c776f;
}

div.post.reply {
    padding: 5px;
    background: #030511 url("img/rect821.png") fixed top right no-repeat;
    color: #47506f;
    border: 1px solid #000e3a !important;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.replyhl {
    background-color: #1e1e1e;
    color: #bebebe;
}

form table th,
div.banner,
div.pages,
.replymode,
.postblock,
.passvalid,
.catalogmode {
    background: #030511 !important;
    color: #47506f;
    border: 1px solid #0a1e55;
}

div.pages {
    color: rgb(143 139 139);
    border: 0;
    background: none !important;
}
