/**
 * stripes.css
 * for vichan by klaczy
 */
body {
    background: url("img/stripes_bg.png");
    color: #bbb;
    font-family: Hevletica, sans-serif;
    font-size: 12px;
}

div.boardlist:nth-child(1):hover {
    background: #222 !important;
}

div.reply,
div.pages {
    background: -moz-linear-gradient(
        bottom,
        #323232 40%,
        #2e2e2e 75%
    ) !important;
    border: 1px solid #2d2d2d !important;
    box-shadow: 0 0 10px #2c2c2c;
    color: #bbb !important;
}

.reply {
    margin-top: 0.5em !important;
}

.body a,
a:hover {
    color: #f66;
}
table th {
    background: none !important;
}

a,
a:visited {
    color: #bbb;
}

hr {
    border: 0 !important;
    height: 1px !important;
    background-color: #aaa !important;
    margin: 1.5em 0 !important;
}

.name,
.body a {
    color: #f66 !important;
}

.subject,
h1,
.subtitle,
.selected {
    color: #f69 !important;
}

.capcode {
    color: #f6c !important;
}

input,
textarea {
    background: url("img/stripes_textarea.png");
    border: 1px #ccc;
    border-radius: 3px;
    padding: 3px;
}
input[type="text"] {
    width: 200px;
}

textarea {
    background-size: 100% 100%;
    background-color: #fcfcfc;
    background-repeat: repeat-x;
    width: 100%;
    height: 200px;
}

input[type="submit"] {
    border: 1px solid rgb(204 204 204);
    background: url("img/stripes_submit.png");
    height: 23px;
    margin-left: 0.5em;
}

.delete {
    margin-top: 0.5em;
}
