{% extends 'base.html' %}

{% block title %}
    {{ board.url }} - {{ board.name }}
{% endblock %}

{% block header %}
    <header>
        <h1>{{ board.url }} - {{ board.name }}</h1>
        <div class="subtitle">
            {% if board.title %}
                {{ board.title|e }}
            {% endif %}
            {% if mod %}
                <p>
                    <a href="?/">{% trans %}Return to dashboard{% endtrans %}</a>
                </p>
            {% endif %}
        </div>
    </header>
{% endblock %}

{% block body %}
    {% include 'post_form.html' %}

    {% if config.global_message %}
        <hr />
        <div class="blotter">{{ config.global_message }}</div>
    {% endif %}

    <hr />

    <form name="postcontrols" action="{{ config.post_url }}" method="post">
        <input type="hidden" name="board" value="{{ board.uri }}" />
        {% if mod %}
            <input type="hidden" name="mod" value="1" />
        {% endif %}
        {{ body }}
        {% include 'report_delete.html' %}
    </form>

    <div class="pages">
        {{ btn.prev }}
        {% for page in pages %}
            [<a
                {% if page.selected %}class="selected"{% endif %}
                {% if not page.selected %}href="{{ page.link }}"{% endif %}
            >{{ page.num }}</a>]
            {% if loop.last %} {% endif %}
        {% endfor %}
        {{ btn.next }}
    </div>
{% endblock %}
