{% extends 'base.html' %}

{% block title %}
    {{ board.url }} - {{ board.title|e }}
{% endblock %}

{% block header %}
    <header>
        <h1>{{ board.url }} - {{ board.title|e }}</h1>
        <div class="subtitle">
            {% if board.subtitle %}
                {% if config.allow_subtitle_html %}
                    {{ board.subtitle }}
                {% else %}
                    {{ board.subtitle|e }}
                {% endif %}
            {% endif %}
            {% if mod %}
                <p>
                    <a href="?/">{% trans %}Return to dashboard{% endtrans %}</a>
                </p>
            {% endif %}
        </div>
    </header>
{% endblock %}

{% block content %}
    {% include 'post_form.html' %}

    {% if config.page_nav_top %}
        <div class="pages top">
            {% for page in pages %}
                [<a
                    {% if page.selected %}class="selected"{% endif %}
                    {% if not page.selected %}href="{{ page.link }}"{% endif %}
                >{{ page.num }}</a>]
            {% endfor %}
            {{ btn.next }}
        </div>
    {% endif %}

    {% if config.global_message %}
        <hr />
        <div class="blotter">{{ config.global_message }}</div>
    {% endif %}

    <hr />

    <form name="postcontrols" action="{{ config.post_url }}" method="post">
        <input type="hidden" name="board" value="{{ board.uri }}" />
        {% if mod %}
            <input type="hidden" name="mod" value="1" />
        {% endif %}
        {{ body }}
        {% include 'report_delete.html' %}
    </form>

    <div class="pages">
        {{ btn.prev }}
        {% for page in pages %}
            [<a
                {% if page.selected %}class="selected"{% endif %}
                {% if not page.selected %}href="{{ page.link }}"{% endif %}
            >{{ page.num }}</a>]
        {% endfor %}
        {{ btn.next }}
        {% if config.catalog_link %}
            | <a href="{{ config.root }}{{ board.dir }}{{ config.catalog_link }}">Catalog</a>
        {% endif %}
    </div>
{% endblock %}
